<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<h1>Список изображений</h1>

<a href="{% url 'image_upload' %}">Добавить изображение</a>

<hr>

{% if object_list %}

    {% for i in object_list %}
        <p>
            <a href="{% url 'image' i.id %}">{{ i.title }}</a>
        </p>
    {% endfor %}
{% else %}
    <p>Нет доступных изображений</p>
{% endif %}

</body>
</html>