<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>{{ image.title }}</h1>
<a href="{% url 'home' %}">Назад к списку</a>

<hr>

<form method="POST">{% csrf_token %}
{{ form.as_p }}
{#    <p>Ширина<br>#}
{#        {{ form.image_width }}#}
{#    </p>#}
{#    <p>#}
{#        Высота<br>#}
{#        {{ form.image_height }}#}
{#    </p>#}

    <input type="submit" value="Сохранить">
</form>

<br>

<img src="{{ image.image.url }}"
     alt="{{ image.title }}"
     width="{{ image.image_width }}"
     height="{{ image.image_height }}"
>


</body>
</html>