<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
</head>
<body>

<h1>Новое изображение</h1>
<a href="{% url 'home' %}">Назад к списку</a>

<hr>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

{#    <p>#}
{#        <label>Ссылка</label><br>#}
{#        {{ form.title }}#}
{#    </p>#}
    <p>
        <label>Файл</label><br>
        {{ form.title }} {{ form.image }}
    </p>
    <button type="submit">Отправить</button>
</form>

</body>
</html>